StreamProcessing/bin/*
StreamProcessing/build/*
StreamProcessing/distribution_tests/expo_test
StreamProcessing/distribution_tests/norm_test
StreamProcessing/simulation_results/unitary/*
StreamProcessing/simulation_results/integration/*
StreamProcessing/simulation_results/system/*
metrics/throughput_result.txt