StreamProcessing/bin/*
StreamProcessing/build/*
StreamProcessing/distribution_test/expo_test
StreamProcessing/distribution_test/norm_test
StreamProcessing/apacheflink/flink
StreamProcessing/apacheflink/nexmark